body {
  background-color: black;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header, .nav, .footer {
  background-color: #333;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; /* Set width to 100% of the page */
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.nav a:hover {
  color: #999;
}

.section, .article, .aside {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
}

.header { grid-area: 1 / 1 / 2 / 4; }
.nav { grid-area: 2 / 1 / 3 / 4; }
.section { grid-area: 3 / 1 / 4 / 2; }
.article { grid-area: 4 / 1 / 5 / 2; }
.footer { grid-area: 5 / 1 / 6 / 4; }
.aside { grid-area: 3 / 2 / 5 / 4; }
